<footer class="footer">
    <a href="https://wa.me/989355618035" style="color: white; text-decoration: none">
        <img src="images/LOGO-M.png" alt="MahmoodVhdtfr">
        <p style="margin: 0; font-weight: bold;">MahmoodVhdtfr</p>
    </a>
    <p style="margin: 0;">تورکجه‌م منیم، سس بایراغیم</p>
    <p style="margin: 0;"> 
        <span class="visitor-number" id="footerVisitorCount">0</span> : 👥 | ❤️ ایله یارادیلیب 
    </p>
</footer>

<!-- لایت‌بکس -->
<div id="lightbox" class="lightbox">
    <span class="lightbox-close">&times;</span>
    <div class="lightbox-nav">
        <span class="lightbox-prev">&#10094;</span>
        <span class="lightbox-next">&#10095;</span>
    </div>
    <img class="lightbox-content" id="lightbox-img" src="" alt="">
</div>
