<header class="main-header">
    <div class="header-container">
                <div class="logo">
            <a href="/">
                <img src="images/LOGO-M.png" alt="MahmoodVhdtfr">
            </a>
        </div>
        <div class="header-actions">
            <a href="https://daramet.com/MahmoodVhdtfr" target="_blank" rel="noopener noreferrer" class="coffee-btn">
                <span>🍵</span>
                <span class="coffee-text">منی بیر چایا قوناق ائله!</span>
                
            </a>
        </div>


    </div>
</header>
