<header class="main-header">
    <div class="header-container">
                <div class="logo">
            <a href="/">
                <img src="images/LOGO-M.png" alt="MahmoodVhdtfr">
            </a>
        </div>
 <!-- منوی نویگیشن -->
        <nav class="nav-menu">
            <a href="/" class="nav-link">آنا یارپاق</a>
            <a href="/" class="nav-link">پلاگینلر و اوزانتیلار</a>
            <a href="/EasyMessaging.html" class="nav-link">اندروید تطبیقلر</a>
        </nav>
        
        <div class="header-actions">
            <a href="https://daramet.com/MahmoodVhdtfr" target="_blank" rel="noopener noreferrer" class="coffee-btn">
                <span>🍵</span>
                <span class="coffee-text">منی بیر چایا قوناق ائله!</span>
                
            </a>
        </div>


    </div>

            <!-- دکمه منوی موبایل -->
        <div class="mobile-menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <!-- منوی موبایل -->
    <div class="mobile-menu">
        <a href="/" class="mobile-nav-link">آنا یارپاق</a>
        <a href="/" class="mobile-nav-link">پلاگینلر و اوزانتیلار</a>
        <a href="EasyMessaging.html" class="mobile-nav-link">اندروید تطبیقلر</a>
    </div>
</header>
</header>
